@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url(../public/fonts/Poppins/Poppins-Regular.ttf) format("truetype");
}

@layer components {
  .bg-custom-gradient {
    @apply bg-gradient-to-r from-[#802626] to-[#FF8080] text-white;
  }
  .bg-custom-gradient-2 {
    background: linear-gradient(96deg, #ab4646 -6.35%, #56261f 113.64%);
    color: #fff;
    /* You can also add other Tailwind utilities if needed */
  }

  .radius-left-10 {
    border-radius: 10px 0px 0px 10px;
  }

  .nav-shadow {
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }

  .nav-search-shadow {
    box-shadow: 2px 4px 15px 0px rgba(0, 0, 0, 0.1) inset;
  }

  .main-wrapper-shadow {
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.08) inset;
  }

  .dashboard-item-shadow {
    box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.1);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Poppins" !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
