@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(../public/fonts/Poppins/Poppins-Regular.ttf) format('truetype');
}

@layer components {
  .bg-custom-gradient {
    @apply bg-gradient-to-r from-[#802626] to-[#FF8080] text-white;
  }
  .bg-custom-gradient-2 {
    background: linear-gradient(96deg, #AB4646 -6.35%, #56261F 113.64%);
    color: #FFF;
    /* You can also add other Tailwind utilities if needed */
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #FFF;
  font-family: 'Poppins' !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
